* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
    font-family: "GT-Eesti";
    text-transform: capitalize;
}
input,
textarea,
select {
    font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: #2f2d2d;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "GT-Eesti", Arial;
    font-weight: 500;
    color: #000;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
}
@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GT-Eesti";
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"),
        url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
::placeholder {
    color: #9b9b9b;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #9b9b9b;
}

::-ms-input-placeholder {
    color: #9b9b9b;
}
header {
    justify-content: space-between;
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 15px;
    margin: 30px auto;
}

header div.left {
}

header div.left h1 {
}

header div.left h1 a {
}

header div.left h1 a img {
}

header nav {
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #000;
}

header div.right {
}

header div.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.right ul li {
    margin-right: 20px;
}

header div.right ul li a {
    color: #000;
}
header div.right ul li a.button {
    color: rgb(233, 108, 6);
    background-color: #ecb07c78;
    display: inline-block;
    padding: 9px 13px;
    border-radius: 7px;
    font-weight: 700;
}
#spotlight {
    padding: 5% 0;
}
#spotlight section.wrapper {
    display: flex;
    justify-content: space-between;
}
#spotlight section.wrapper div.left {
    width: 38%;
    margin-top: 67px;
}
#spotlight section.wrapper div.left h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}
#spotlight section.wrapper div.left p {
    font-size: 21px;
    margin-bottom: 30px;
    font-weight: 600;
}
#spotlight section.wrapper div.left form {
    margin-top: 70px;
}

#spotlight section.wrapper div.left form input {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 18px 28px;
    font-size: 18px;
}
#spotlight section.wrapper div.left form input[type="submit"] {
    background-color: #2756fb;
    color: #fff;
    margin-left: -34px;
    border: none;
    padding: 19px 27px;
}
#spotlight section.wrapper div.right {
    width: 58%;
    background-image: url(../images/home-hero.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
#spotlight section.wrapper div.right div.curve {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 34%;
}
#spotlight section.wrapper div.right div.curve img {
    display: block;
    width: 100%;
}
#spotlight section.wrapper div.right div.round {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f5794c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 44%;
    top: -7%;
}
#spotlight section.wrapper div.right div.round img {
    filter: invert(1);
}
#creators {
    text-align: center;
}

#creators section.wrapper {
}

#creators section.wrapper span.label {
    font-size: 18px;
    font-weight: 500;
}

#creators section.wrapper ul {
    display: flex;
}

#creators section.wrapper ul li {
    padding: 48px;
}

#creators section.wrapper ul li img {
    width: 100%;
}
#features {
}
#features div.content {
}
#features div.content div.item {
    padding: 100px 0;
}
#features div.content div.item.bg {
    background: #f8f8f8;
}
#features div.content div.item section.wrapper {
    display: flex;
    justify-content: space-between;
}
#features div.content div.item div.left {
    width: 45%;
}
#features div.content div.item div.left img {
    display: block;
    width: 100%;
}
#features div.content div.item div.right {
    width: 50%;
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
}
#features div.content div.item div.right span.icon {
    width: 60px;
    height: 60px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 20px;
}
#features div.content div.item div.right span.icon img {
    display: block;
    width: 30px;
}
#features div.content div.item:nth-child(1) div.right span.icon {
    background-color: #f5794c;
}
#features div.content div.item:nth-child(2) div.right span.icon {
    background-color: #f9c837;
}
#features div.content div.item:nth-child(3) div.right span.icon {
    background-color: #46d277;
}
#features div.content div.item div.right h3 {
    font-size: 40px;
    width: 400px;
    font-weight: 500;
    margin-bottom: 30px;
}
#features div.content div.item div.right p {
    font-size: 24px;
    width: 550px;
    margin-bottom: 36px;
}
#features div.content div.item div.right a.button {
    background: #2756fb;
    padding: 11px 12px;
    border-radius: 11px;
    font-size: 14px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 50px;
    width: 30%;
}
#features div.content div.item div.right hr {
    border-bottom: 2px dotted #cdcdcd;
    width: 50%;
    margin-bottom: 50px;
}
#features div.content div.item div.right span.label {
    color: #929292;
    font-style: italic;
    font-size: 18px;
}
#features div.content div.item div.right small.name {
    color: #7a7a7a;
    font-weight: 500;
    margin-top: 39px;
}
#features div.content div.item div.right small.name b {
    font-size: 15px;
    font-weight: 600;
    color: #7a7a7a;
}
#features div.content div.item div.right span.logo {
    width: 24%;
    display: inline-block;
    margin-top: 20px;
}
#features div.content div.item div.right span.logo img {
    display: block;
    width: 100%;
}
#review {
    margin-bottom: 120px;
}

#review section.wrapper {
}

#review section.wrapper section.top {
    padding: 100px 0;
}

#review section.wrapper section.top h3 {
    font-size: 36px;
    font-weight: 600;
    width: 40%;
    margin-bottom: 60px;
    font-weight: 700;
}

#review section.wrapper section.top ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#review section.wrapper section.top ul li {
    width: 30%;
    padding: 15px;
}

#review section.wrapper section.top ul li div.img_container {
    position: relative;
    margin-bottom: 20px;
}

#review section.wrapper section.top ul li div.img_container img {
    width: 100%;
    border-radius: 6px;
}

#review section.wrapper section.top ul li div.img_container span.play {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#review section.wrapper section.top ul li div.img_container span.play img {
    width: 20%;
}

#review section.wrapper section.top ul li div.img_container span.logo_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #fff;
    width: 100px;
    padding: 0 10px;
    border-radius: 10px;
}

#review section.wrapper section.top ul li div.img_container span.logo_icon img {
    display: block;
    height: 100%;
}

#review section.wrapper section.top ul li h6 {
    font-size: 18px;
    font-weight: 600;
    width: 92%;
    line-height: 1.3;
}

#review section.bottom {
}

#review section.bottom ul {
    display: flex;
    justify-content: space-between;
}

#review section.bottom ul li {
    width: 45%;
}

#review section.bottom ul li div.img_container {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#review section.bottom ul li div.img_container img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

#review section.bottom ul li div.img_container span.logo {
    width: 100px;
    height: 50px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 10px;
}

#review section.bottom ul li div.img_container span.logo img {
    height: 100%;
    display: block;
    padding: 10px;
}

#review section.bottom ul li h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

#review section.bottom ul li span.name {
    font-size: 14px;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

#review section.bottom ul li span.label {
    font-size: 14px;
    display: block;
    font-weight: 400;
    color: #828282;
    margin-bottom: 5px;
}

#review section.bottom ul li small {
    font-size: 14px;
    display: block;
    font-weight: 600;
}
#team {
    background: #f8f8f8;
}
#team section.wrapper {
}
#team section.wrapper section.top {
    text-align: -webkit-center;
}
#team section.wrapper section.top h2 {
    font-size: 41px;
    font-weight: 700;
    width: 592px;
    text-align: center;
    padding: 64px;
}
#team section.wrapper section.top ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#team section.wrapper section.top ul li {
    width: 30%;
    border-right: 2px dotted #d6d6d6;
    padding: 65px;
}
#team section.wrapper section.top ul li:nth-child(3) {
    border-right: none;
}
#team section.wrapper section.top ul li:nth-child(6) {
    border-right: none;
}
#team section.wrapper section.top ul li div.img_container {
}
#team section.wrapper section.top ul li div.img_container img {
}
#team section.wrapper section.top ul li h5 {
    font-size: 21px;
    font-weight: 600;
}
#team section.wrapper section.top ul li p {
    font-size: 15px;
    width: 80%;
}
#team section.wrapper section.bottom {
    padding: 70px 0;
}
#team section.wrapper section.bottom div.content {
    width: 450px;
    margin: 0 auto;
    background: #d0dfff;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#team section.wrapper section.bottom div.content div.star {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    top: -25px;
    border-radius: 20px;
}
#team section.wrapper section.bottom div.content div.star img {
}
#team section.wrapper section.bottom div.content span.label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}
#team section.wrapper section.bottom div.content span.label br {
}
#team section.wrapper section.bottom div.content a.button {
    background: #2756fb;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
}
#solutions {
    padding: 70px 0;
}

#solutions section.wrapper {
}

#solutions section.wrapper section.top {
}

#solutions section.wrapper section.top h3 {
    font-size: 36px;
    font-weight: 700;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 39px;
}

#solutions section.wrapper section.top ul {
    display: flex;
    justify-content: space-between;
}
#solutions section.wrapper section.top ul li {
    padding: 28px;
    width: 31%;
    height: 650px;
}
#solutions section.wrapper section.top ul li:nth-child(1) {
    background: #d0dfff;
    border-radius: 5px;
    text-align: center;
}
#solutions section.wrapper section.top ul li:nth-child(2) {
    background-color: #fef4d7;
    border-radius: 5px;
    text-align: center;
}
#solutions section.wrapper section.top ul li:nth-child(3) {
    background-color: #fce4da;
    border-radius: 5px;
    padding-right: 0px;
    text-align: center;
}
#solutions section.wrapper section.top ul li span.icon {
    margin: 0 auto;
    background: #fff;
    text-align: center;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 35px;
    justify-content: center;
}

#solutions section.wrapper section.top ul li span.icon img {
    width: 45%;
    display: block;
}

#solutions section.wrapper section.top ul li h5 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 13px;
}

#solutions section.wrapper section.top ul li p {
    font-size: 14px;
    text-align: center;
    width: 240px;
    margin: 0 auto;
}
#solutions section.wrapper section.top ul li a {
    display: block;
    padding: 10px;
    border-radius: 10px;
    width: 35%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}
#solutions section.wrapper section.top ul li a.button {
    margin-top: 30px;
    margin-bottom: 30px;
}
#solutions section.wrapper section.top ul li:nth-child(1) a.button {
    background: #2756fb;
    padding: 10px;
}
#solutions section.wrapper section.top ul li:nth-child(2) a.button {
    background: #f9c837;
}
#solutions section.wrapper section.top ul li:nth-child(3) a.button {
    background: #f5794c;
}

#solutions section.wrapper section.top ul li div.img_container {
    position: relative;
    top: 25px;
}

#solutions section.wrapper section.top ul li div.img_container img {
    width: 100%;
    display: block;
}

section.bottom {
    margin-top: 175px;
}

section.bottom h3 {
    font-size: 35px;
    font-weight: 700;
    width: 485px;
    margin-bottom: 61px;
}

section.bottom ul {
    display: flex;
    justify-content: space-between;
}

section.bottom ul li {
    width: 30%;
}

section.bottom ul li div.img_container {
    margin-bottom: 35px;
}

section.bottom ul li div.img_container img {
    width: 100%;
    display: block;
    border-radius: 7px;
}
section.bottom ul li span.label {
    font-weight: 500;
    font-size: 15px;
}
section.bottom ul li:first-child span.label {
    color: #285cfb;
    font-size: 14px;
    font-weight: 500;
}

section.bottom ul li p {
    margin-top: 19px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}

section.bottom ul li small {
}

section.bottom ul li small a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
section.bottom ul li small a:hover {
    text-decoration: underline;
}
section.bottom div.button {
    width: 30%;
    margin: 0 auto;
}

section.bottom div.button a.button {
    font-size: 18px;
    font-weight: 500;
    background: #2756fb;
    padding: 10px;
    border-radius: 7px;
    color: #fff;
}
#contact {
    background: #000;
}

#contact section.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#contact section.wrapper div.left {
    width: 48%;
}

#contact section.wrapper div.left h3 {
    width: 350px;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
}

#contact section.wrapper div.left p {
    color: #989898;
    font-size: 16px;
    font-weight: 400;
    width: 525px;
    padding-bottom: 30px;
}

#contact section.wrapper div.left hr {
    border-bottom: 1px dotted #fff;
    width: 200px;
    margin-bottom: 40px;
    margin-top: 29px;
}

#contact section.wrapper div.left h6 {
    font-size: 18px;
    font-weight: 500;
    padding: 30px 0;
    color: #fff;
}

#contact section.wrapper div.left span.label {
    color: #fff;
    display: block;
    width: 74%;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
}

#contact section.wrapper div.left span.name {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

#contact section.wrapper div.left small {
    color: #8d8d8d;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
}

#contact section.wrapper div.left ul.people {
    display: flex;
}

#contact section.wrapper div.left ul.people li {
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid;
}
#contact section.wrapper div.left ul.people li:first-child {
    border-color: red;
}

#contact section.wrapper div.left ul.people li img {
    display: block;
    width: 100%;
    border-radius: 50%;
    padding: 3px;
}

#contact section.wrapper div.left ul.brands {
    display: flex;
}
#contact section.wrapper div.left ul.brands li:last-child {
    margin-right: 0px;
}
#contact section.wrapper div.left ul.brands li {
    margin-right: 30px;
}

#contact section.wrapper div.left ul.brands li img {
}

#contact section.wrapper div.right {
    width: 48%;
}

#contact section.wrapper div.right div.content {
    background: #fff;
    padding: 50px;
    border-radius: 2%;
}

#contact section.wrapper div.right div.content h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

#contact section.wrapper div.right div.content form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact section.wrapper div.right div.content form input,
#contact section.wrapper div.right div.content form select {
    padding: 10px;
    border: 1px solid #dcdcdc;
    width: 48%;
    margin-bottom: 25px;
    border-radius: 4px;
}
#contact section.wrapper div.right div.content form div.policy {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#contact section.wrapper div.right div.content form div.policy #accept {
    width: 100px;
}

#contact section.wrapper div.right div.content form div.policy label {
    font-size: 13px;
    line-height: 2;
}

#contact section.wrapper div.right div.content form div.policy label a {
    color: #000;
    text-decoration: underline;
}
#contact section.wrapper div.right div.content form div.form-bottom {
    width: 100%;
}
#contact
    section.wrapper
    div.right
    div.content
    form
    div.form-bottom
    input[type="submit"] {
    width: 100%;
    color: #fff;
    background: #2756fb;
}
footer {
    padding: 100px 0;
}

footer section.wrapper {
}

footer section.wrapper section.container {
    display: flex;
    justify-content: space-between;
}

footer section.wrapper section.container div.left {
    width: 40%;
}

footer section.wrapper section.container div.left p {
    font-size: 22px;
    width: 250px;
    margin-bottom: 20px;
}

footer section.wrapper section.container div.left ul {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

footer section.wrapper section.container div.left ul li {
    margin-right: 20px;
}
footer section.wrapper section.container div.left ul li:last-child {
    margin-right: 0;
}

footer section.wrapper section.container div.left ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #f0f0f0;
    border-radius: 15px;
}

footer section.wrapper section.container div.left ul li a img {
    filter: grayscale(1) invert();
    width: 15px;
}

footer section.wrapper section.container div.left span.label {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

footer section.wrapper section.container div.left span.label .img-cont {
    width: 25px;
    display: inline-block;
    margin-right: 10px;
}
footer section.wrapper section.container div.left span.label .img-cont img {
    width: 100%;
    display: block;
}

footer section.wrapper section.container div.left span.lang {
    display: block;
}
footer section.wrapper section.container div.left span.lang a {
    margin-right: 10px;
}
footer section.wrapper section.container div.right {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

footer section.wrapper section.container div.right ul {
}

footer section.wrapper section.container div.right ul li {
    color: #000;
    margin-bottom: 10px;
}
footer
    section.wrapper
    section.container
    div.right
    ul:nth-child(3)
    li:nth-child(5)
    a,
footer
    section.wrapper
    section.container
    div.right
    ul:nth-child(4)
    li:nth-child(5)
    a {
    font-weight: 600;
}
@media all and (max-width: 1080px){
    header {
        font-size: 13px;
        width: 91%;
    }
    #spotlight section.wrapper div.left h1 {
        font-size: 37px;
    }
    #features div.content div.item div.right p {
        font-size: 19px;
        width: 400px;
    }
    #spotlight section.wrapper div.left form input {
        font-size: 14px;
    }
    #spotlight section.wrapper div.right div.round {
        width: 60px;
        height: 60px;
        top: -6%;
        right: 42%;
    }
    #spotlight section.wrapper div.right div.curve {
        width: 73px;
        height: 93px;
    }
    #creators section.wrapper ul li {
        padding: 30px;
    }
    #features div.content div.item div.right {
        padding: 0 60px;
    }
    #features div.content div.item div.right h3 {
        font-size: 34px;
        width: 350px;
    }
    #solutions section.wrapper section.top ul li span.icon {
        width: 90px;
        height: 90px;
    }    
    #solutions section.wrapper section.top ul li span.icon img {
        width: 40%;
    }
    #solutions section.wrapper section.top ul li a {
        width: 40%;
        font-size: 15px;
    }
    section.bottom div.button {
        margin-top: 55px;
    }
    #solutions section.wrapper section.top ul li {
        height: 559px;
    }
    body {
        font-size: 12px;
    }
    #team section.wrapper section.bottom {
        margin-top: 0px;
    }
    #contact section.wrapper div.left p {
        width: 450px;
    }
}
